{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
      <h4 class=" text-center mb-10 col-lg-8">Review Your Order and Make Payment</h4>
      <aside class="col-lg-8">
        <div class="card">
          <h5 class="card-header">Billing Address</h5>
          <div class="card-body">
            <div class="mb-3">
              <h6 class="text-muted">Name</h6>
              <p>{{ order.full_name }}</p>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <h6 class="text-muted">Email</h6>
                <p>{{ order.email }}</p>
              </div>

              <div class="col-md-4">
                <h6 class="text-muted">Phone</h6>
                <p>{{ order.phone_number }}</p>
              </div>

            </div>


            <div class="mb-3">
              <h6 class="text-muted">Address</h6>
              <p>{{ order.full_address }}</p>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <h6 class="text-muted">Country</h6>
                <p>{{ order.country }}</p>
              </div>

              <div class="col-md-4">
                <h6 class="text-muted">State</h6>
                <p>{{ order.state }}</p>
              </div>

              <div class="col-md-4">
                <h6 class="text-muted">City</h6>
                <p>{{ order.city }}</p>
              </div>
            </div>

            {% if order.order_note %}
            <div class="mb-3">
              <h6><b>Order Note</b></h6>
              <p>{{ order.order_note }}</p>
            </div>
            {% endif %}
          </div>
        </div>

        <br><br>

        <div class="card">
          <h5 class="card-header">Payment Method</h5>
          <div class="card-body">

            <p class="card-text">Paypal</p>

          </div>
        </div>

        <br><br>

        <div class="card">
          <h5 class="card-header">Review Products</h5>
          <div class="card-body">

            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Product</th>
                  <th scope="col" width="120">Quantity</th>
                  <th scope="col" width="120">Price</th>
                </tr>
              </thead>

              <tbody>
                {% for cart_item in cart_items %}
                  <tr>
                    <td>
                      <figure class="itemside align-items-center">
                        <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                        <figcaption class="info">
                          <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                            {{ cart_item.product.product_name }}</a>
                          <p class="text-muted small">
                            {% if cart_item.variations.all %}
                              {% for item in cart_item.variations.all %}
                                {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                              {% endfor %}
                            {% endif %}
                          </p>
                        </figcaption>
                      </figure>
                    </td>

                    <td>
                      <label for="">{{ cart_item.quantity }}</label>
                    </td>

                    <td>
                      <div class="price-wrap">
                        <var class="price">${{ cart_item.sub_total }}</var>
                        <small class="text-muted"> ${{ cart_item.product.price }} each </small>
                      </div> <!-- price-wrap .// -->
                    </td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </aside> <!-- col.// -->


      <aside class="col-lg-4">

        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">${{ total }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right"> ${{ tax }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
            </dl>
            <hr>
            <p class="text-center mb-3">
              <img src="{% static 'images/misc/payments.png' %}" height="26">
            </p>
            <div id="paypal-button-container"></div>
            <p id="result-message"></p>

          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->


    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!--Paypal Script-->
<!-- Initialize the JS-SDK -->
<script
  src="https://www.paypal.com/sdk/js?client-id=AQmIgR6J5WQrD92yvpMgEGHC65k1B1HgFsbIu-W65PNQrin4vv_TKq2XzAfuIXxQ0aPj6QXWjVQWn2xS&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo,paylater,card"
  data-sdk-integration-source="developer-studio"></script>


<script>
  const redirect_url = '{% url "order_complete" %}';

  paypal.Buttons({
    createOrder: async function() {
      const response = await fetch('{% url 'create_order' %}',{
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{csrf_token}}"
        },
        body: JSON.stringify({
          cart: [{
            id: "{{ order.order_number }}",
            quantity: "{{ quantity }}",

          }],
        })
      });

      const orderData = await response.json();

      if(!orderData.paypal_order_id) {
        throw new Error('Missing Paypal Order Id');
      }
      return orderData.paypal_order_id;
    },

    onApprove: async function(data,actions) {
      //the data in function arguments comes from paypal and has orderID
      const response = await fetch('{% url "payments" %}',{
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({
          orderID: data.orderID
        })
      });

      const transactionData = await response.json();
      if (transactionData.success) {
        window.location.href = redirect_url + '?order_number=' + transactionData.order_number + '&payment_id=' + transactionData.payment_id;
      }
    }
  }).render('#paypal-button-container');

</script>
{% endblock %}